// 不包含作用域

.ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// 左边距流白
@normal-padding: 80px;
@middle-padding: 0;
@small-padding: 28px;

// 西语输入类控件，label + input
.region-lang(@leftPadding:0, @labelWidthPercent: 100%) {
  .yon-row {
    display: block!important;
    min-height: auto!important;
    padding-left: @leftPadding;
    .refer-div {
      .yon-row {
        padding-left: 0;
      }
    }
  }
  .yon-row .label-control {
    padding: 0;
    line-height: 16px;
    text-align: left;
    font-size: 12px;
    width: @labelWidthPercent !important;
    .ellipsis();
    float: none;
    margin-bottom: 8px;
  }
  .yon-row .input-control {
    width: @labelWidthPercent !important;
    .yon-row {
      padding-left: 0;
      min-height: auto !important;
    }
  }
  .ant-form-explain {
    left: @leftPadding;
    top: 48px;
  }

}

//新增
.container-edit-mode{
  .group-container{
    .group-buttons{
      &>.yon-row{
        padding: 0 24px;
      }
    }
  }
  .viewSetting.viewCell{
    padding: 0 8px;
    &>.basic-control{
      margin-bottom: 16px;
    }
  }
  .viewCell {
    .yon-row{
      margin-bottom: 0;
      textarea{
        margin-top: 0;
      }
    }
  }
  .ant-search-input-wrapper{
    vertical-align: 0;
  }
  div[id$="|tips"]{
    position: static;
    width: auto!important;
    padding: 0!important;
    margin-left: 10px!important;
  }
  div[id="pc_product|productTemplate_NameTips"]{
    position: static;
    width: auto!important;
    padding: 0!important;
    margin-left: 10px!important;
  }
}

//查看
.container-browse-mode{
  .group-buttons>.group-container>.yon-row{
    padding-left: 17px;
    padding-right: 32px;
    .viewSetting.viewCell{
      &>.basic-control{
        margin-bottom: 24px;
      }
      .control-text{
        padding: 0;
      }
    }
  }
  .yon-row {
    .control-width{
      line-height: 12px;
      height: auto;
      .control-text{
        height: auto;
        min-height: auto;
        line-height: 12px;
        border: none;
        font-weight: 600;
      }
    }
  }
  div[id$="|tips"]{
    position: static;
  }
}

//查看底部
.mdf-footer{
  .tab-bottom-txt {
    background: #f8f8f8;
    max-height: 95px;
    padding:7px 40px 0 40px!important;
    .viewSetting.viewCell {
      .yon-row {
        min-height: auto!important;
        margin-bottom: 6px!important;
        .label-control{
          text-align: left;
          margin: 0;
        }
      }
      .input-control.control-width {
        .control-text{
          .text-wrapper{
            color: #333333;
          }
        }
      }
    }
  }
}

.listheadRow .filter-hide {
  .region-lang();
}

// 统一入口的公共样式 basic-control
.basic-control {
  .region-lang();
}

.basic-input-text {
  .region-lang();
}

.basic-input-textarea {
  .region-lang();
}

.basic-input-qrcode {
  .region-lang();
}

.ac_mobile_locale,
.map,
.basic-input-undefined,
.number-control {
  .region-lang();
}

.datepicker-control {
  .region-lang();
}

.refer-div {
  .region-lang(); // TODO: 待优化，（项目类别，新增）参照高度莫名的高度了28.89px
  .yon-row .input-control {
    .yon-row {
      height: 28px;
    }
  }
}

.upload-content {
  .region-lang();
}

.basic-avatar {
  .region-lang();
}

.tag-group {
  .region-lang();
  .yon-row {
    .enum-control {
      // 枚举项宽度不同于其他的 80%，直接使用100%
      width: 100% !important;
    }
  }
}

// tag-refer 特殊处理
.tag-refer {
  &.yon-row {
    display: block;
    min-height: 48px;
    padding-left: 0;
    .p-v-5 {
      padding: 0;
      line-height: 12px;
      text-align: left;
      width: 100% !important;
      .ellipsis();
      margin-bottom: 8px;
    }
    .TagList {
      width: 100% !important;
    }
  }
}

// 不同容器的兼容

// 左树
.form-left {
  .yon-row {
    padding-left: 0;
  }
}

// 必填图标
.yon-row .yonicon-star {
  margin-left: 0;
  vertical-align: unset;
}

// 帮助图标高度调整
.yonicon-bangzhu:before {
  line-height: 22px;
}

// 弹框
.u-modal .u-modal-body {
  .basic-control {
    .region-lang(@middle-padding);
  }
  .basic-input-text {
    .region-lang(@middle-padding);
  }
  .basic-input-textarea {
    .region-lang(@middle-padding);
  }
  .tag-refer {
    padding-left: @middle-padding;
  }
  .width-percent-100 .has-error .ant-form-explain {
    left: @middle-padding;
    top: 48px;
  }
}

// 表格编辑，参照
.editCol {
  .refer-div {
    .region-lang(0);
  }
}

.tag-group:not(.single-line) .label-control {
  padding-top: 0 !important;
}

// 有关联的控件，关联控件不处理，避免错位
.tag-group .enum-control .has-related {
  .yon-row {
    min-height: 32px !important;
    display: flex !important;
    padding-left: 40px;

    .label-control {
      width: 100px !important;
      padding-right: 8px;
      text-align: right;
    }
  }
}

div[id='org_center_card|orgtype'] .yon-row .control-width {
  line-height: 28px;
}

.control-radio .u-radio-group {
  min-height: 28px;
}

@media screen and (max-width: 600px) {
  // 自适用多语单列
  .viewCell.width-percent-100 .input-control .u-input-group input {
    padding-right: 5px;
  }
}

@media screen and (max-width: 1400px) and (min-width: 1200px) {
  .basic-control {
    .region-lang(@middle-padding);
  }
  .basic-input-text {
    .region-lang(@middle-padding);
  }
  .basic-input-textarea {
    .region-lang(@middle-padding);
  }
  .tag-group {
    .region-lang(@middle-padding);
  }
  .width-percent-100 .has-error .ant-form-explain {
    left: @middle-padding;
    top: 48px;
  }
  .tag-refer {
    &.yon-row {
      padding-left: @middle-padding;
    }
  }
  .listheadRow .filter-hide {
    .region-lang(@middle-padding);

    .yon-row .input-control {
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 1200px) {
  .basic-control {
    .region-lang(@small-padding);
  }
  .basic-input-text {
    .region-lang(@small-padding);
  }
  .basic-input-textarea {
    .region-lang(@small-padding);
  }
  .width-percent-100 .has-error .ant-form-explain {
    left: @small-padding;
    top: 48px;
  }
  .tag-refer {
    &.yon-row {
      padding-left: @small-padding;
    }
  }
  .tag-group .yon-row{
    padding-left: @small-padding;
  }
  .listheadRow .filter-hide {
    .region-lang(@small-padding);

    .yon-row .input-control {
      max-width: 100%;
    }
  }
}

//英文下时间框单词之间去掉间距
.new-picker-popover {
  .u-popconfirm-confirm {
    .u-button.u-popconfirm-btn{
      letter-spacing: 0;
    }
  }
}