// ============================================
// base 基础样式
// ============================================

* {
  font-family: /*西文*/-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Ubuntu,Helvetica Neue,Helvetica,Arial,
  /*中文*/PingFang SC,Hiragino Sans GB,Microsoft YaHei UI,Microsoft YaHei,Source Han Sans CN,sans-serif;
  outline: none;
  &:focus {
    outline: none;
  }
}

body {
  color: #333;
  font-size: 12px;
  height: 100% !important;
}

a {
  color: #333;
}

a:hover,
a.active {
  color: #ee2223;
}

canvas {
  cursor: pointer !important;
}

.height-100 {
  height: 100%;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.no-border {
  border: none !important;
}

.p-10 {
  padding: 10px;
}

.p-l-20 {
  padding-left: 20px;
}

.p-t-0 {
  padding-top: 0px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-lr-10 {
  padding: 0 10px;
}

.m-t-0 {
  margin-top: 0px;
}

.m-l-5 {
  margin-left: 5px;
}

.m-r-5 {
  margin-right: 5px;
}

.m-r-8 {
  margin-right: 8px;
}

.m-r-10 {
  margin-right: 10px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-b-15 {
  margin-bottom: 15px;
}

.m-l-8 {
  margin-left: 8px;
}

.m-l-10 {
  margin-left: 10px !important;
}

.m-l-40 {
  margin-left: 40px;
}

.m-l-148 {
  margin-left: 135px !important;
}

.p-b-0 {
  padding-bottom: 0px !important;
}

.p-b-15 {
  padding-bottom: 15px;
}

.p-b-20 {
  padding-bottom: 20px;
}

// detail
.pull-left {
  float: left
}

.pull-right {
  float: right
}

// 自定义Col控件样式
.col-none {
  display: none;
}

.col-all {
  overflow: auto;
  min-height: 1px;
}

.col-auto {
  float: left;
  width: auto;
}

.col-line {
  width: 100%;
  clear: both;
}

.col-float {
  float: left;
  display: block;
  position: relative;
  padding-left: 0;
}

.width-percent-25 {
  width: 25% !important;
}

.width-percent-40 {
  width: 40% !important;
}

.width-percent-50 {
  width: 50% !important;
}

.width-percent-75 {
  width: 75% !important;
}

.width-percent-100 {
  width: 100% !important;
}

.margin-top-16 {
  margin-top: 16px;
}

.padd-top-45 {
  padding-top: 45px;
}

.padd-bottom-60 {
  padding-bottom: 60px !important;
}

// fix: 滚动条影响工作台，且无法覆盖
#yxyweb-support-container {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
  
  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    background-color: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #CDD9E6 !important;
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #B0C0D0 !important;
  }
  
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #ccc;
}

[disabled] {
  cursor: not-allowed;
}

input[disabled] + span {
  .anticon {
    cursor: no-drop;
  }
}

// 暂无数据
.no-data-search {
  padding-left: 8px;
  color: #999;
}

.no-data {
  height: 140px;
  text-align: center;
  color: #999;
  font-size: 12px;

  svg {
    width: 80px;
    height: 80px;
    margin: 20px auto 5px auto;
    display: block!important;
  }
}

.in-grid {
  .no-data {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0;
  }
}

.has-error {
  position: relative;
}

.react-draggable-transparent-selection * {
  pointer-events: unset !important
}


/* 修改placeholder样式 */
input::-webkit-input-placeholder{
  color:@base-input-placeholder-color;
}
input::-moz-placeholder{
  color:@base-input-placeholder-color;
}
input:-moz-placeholder{
  color:@base-input-placeholder-color;
}
input:-ms-input-placeholder{
  color:@base-input-placeholder-color;
}

.clearfix:after {
  content: '';
  display: block;
  clear: both;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.container-browse-mode{
  height: 100%;
}

//错误信息提示框关闭图标
.uretail-notification-notice.uretail-notification-notice-closable{
  .uretail-message-error{
    padding-right: 30px;
  }
  .uretail-notification-notice-close{
    right: 16px;
    top: 11px;
    opacity: 1;
    font-weight: normal;
  }
  .uretail-notification-notice-close-x{
    font-family: iconfont;
    font-size: 12px;
    color: #999;
    &:after{
      content: "\e623";
    }
    &:hover{
      color:#505766 ;
    }
  }
}

//请购单底部高度-UISJ-1
.meta-dynamic-view .tab-bottom-txt{
  padding: 7px 16px!important;
}

//UISJ-37
.ys-tabs.u-tabs {
  .viewCell.viewSetting[id='drft_billtype|isEnabled'],.viewCell.viewSetting[id='drft_billtype|iselecbill']{
    .ant-row {
      .col-float{
        min-height: auto;
        .u-radio-group{
          min-height: auto;
        }
      }
    }
  }
}

//QDJM-6624
.meta-dynamic-view{
  .mdf-footer{
    .tab-bottom-txt{
      left: 8px;
      right: 8px;
    }
  }
}
.container-browse-mode {
  .top-fixed.list-top-toolbar{
    border-bottom: none;
  }
}

//UISJ-34
.meta-dynamic-view{
  .line-tabs-menu-container{
    .u-tabs-tab.u-tabs-tab-active{
      line-height: 40px !important;
    }
  }
}

//UISJ-64
#ycPurContract{
  .u-tooltip.inverse.bottom {
    .tooltip-arrow{
      display: none;
    }
  }
}

//UISJ-62/UISJ-64-采购合同
.yccontractlist{
  .u-tabs-content {
    .listheadRow{
      .advance-model{
        height: 30px;
        margin-top: 6px;
        .advance-tabs {
          .active-advance-tab {
            margin: 0px 10px;
            .triangle-up{
              border-bottom:4px solid #505766;
              border-left:7px solid transparent;
              border-right:7px solid transparent;
            }
          }
          .no-active-tab{
            margin: 0px 10px;
          }
        }
      }
    }
  }
}
//QDJM-7201
.u-tooltip.inverse.bottom {
  padding: 0;
  .tooltip-arrow{
    display: none;
  }
  .advance-tag{
    margin: 0;
    .u-tag-checkable{
      margin: 0!important;
      height: 28px;
      line-height: 28px;
      :hover:not(.u-tag-checkable-checked){
        border-color: transparent;
        background: #f3f5f9;
      }
      &.u-tag-checkable-checked{
        background: #fff7e7;
        border-color: transparent;
      }
    }
  } 
}

//UISJ-99
.st_storecheckrealitylist.ustock{
  .tab-menu+.tab-top-right .btn-toolbar-bottom {
    .col-auto .pull-left {
      margin-right: 0;
      .u-checkbox{
        height: 28px;
        line-height: 28px;
        margin-right: 8px;
      }
    }
  }
}

//UISJ-104
.hybridHidden{
  .group-buttons{
    .tipsChange{
      .ant-row>.col-float>.has-related>.viewCell{
        width: auto;
        .u-checkbox{
          margin-right: 0;
        }
      }
    }
  }
}

//UISJ-116-时间选择框
.new-picker-popover {
  .u-popconfirm-confirm {
    .u-button.u-popconfirm-btn{
      box-shadow: none;
    }
  }
}
