// ============================================
// icon 规范
// ============================================

// 放大、缩小等icon 的效果
.top-right-toolbar-icon-mixin() {
  width: 28px;
  height: 28px;
  display: inline-flex;
  justify-content: center;
  &:hover {
    color: #505766;
    background: #f1f1f1 !important;
    border-radius: 3px;
    border: none;
  }
}

.uf-close-c {
  color: rgba(0,0,0,.25);
  line-height: 12px;
  font-size: 12px;
  &:hover {
    color: rgba(0,0,0,.43);
  }
}

// 日期
.anticon.anticon-star-o {
  &:before {
    content: "\e661";
    font-family: 'yonicon' !important;
    font-size: 16px;
    color: #adb4bc;
  }
}

svg.icon {
  display: inline-block;
}
.rc-tree-switcher:before {
  font-family: 'yonicon'
}

.yonicon {
  font-size: 12px;
}

.u-tabs-top {
  .u-tabs-tab-prev-icon:before,
  .u-tabs-tab-next-icon:before {
    font-family: 'yonicon'!important;
  }
}

.u-action-last-text i.iconfont {
  display: inline-block;
  line-height: 16px;
  &:before {
    font-family: 'yonicon';
    content: '\e69b';
  }
}