// ============================================
// pagination 类控件的样式
// ============================================

.pagination-new {
  float: right;
  color: #666;
  padding-right: 24px;
  margin-top: 10px;
  display: flex;
  align-items: center;

  .pag-selected-op {
    display: none;

    span {
      line-height: initial;
      margin-left: 10px;
      color: #666;
    }

    i {
      font-style: normal;
    }
  }

  .pagination-delayload-text {
    line-height: 28px;
    font-size: 12px;
    color: #666;
  }
}

.u-pagination-sm {
  & + .u-pagination-total {
    height: 22px;
    line-height: 22px;

    & +.data_per_select+.page_jump>span,
    & +.data_per_select>span {
      line-height: 22px;
    }
  }
}

.pagination-simple{
  span{
    display: block;
    padding: 0 7px;
    border: #e4e4e4 solid 1px;
    border-radius: 5px;
    height: 28px;
    cursor: pointer;
    .anticon-left::before,
    .anticon-right::before{
        font-size: 12px;
        color: #939dad;
    }
    &:hover{
      .anticon-left::before,
      .anticon-right::before{
        color: @custom-color;
      }
    }
  }
  .disabled{
    cursor: not-allowed;
    .anticon-left::before,
    .anticon-right::before{
      color: #c1c7d0;
    }
    &:hover{
      .anticon-left::before,
      .anticon-right::before{
        color: #c1c7d0;
      }
    }
  }
}

// 分页每页多少条下拉框弹出时，整个页面右侧出现滚动条
.u-pagination-data_per_select.u-select-dropdown {
  min-width: auto !important;
  margin-bottom: 0;

  .u-select-dropdown-menu {
    max-height: 120px;
  }
  .u-select-dropdown-menu-item{
    padding: 9px 0;
    text-align: center;
  }
}

// TINPER-2472
.u-pagination-list>li.u-pagination-item-ellipsis>a{
  background: none;
}

.u-pagination.u-pagination-disabled .u-pagination-disabled-mask {
  height: 28px;
}

// QDJM-3824
#yxyweb-support-container .u-pagination {
  .u-select-selection--single{
    height: 22px;
    .u-select-selection-rendered{
      line-height: 20px;
    }
  }
}