// ============================================
// tab 类控件的样式
// ============================================

@import './icon.less';

.u-tabs {

  .u-tabs-bar {

    .u-tabs-nav-wrap {
      .u-tabs-nav-scroll {
        overflow: visible;
        white-space: nowrap;
        // padding: 0px 0 2px 0;
        margin-left: -1px;

        .u-tabs-nav {
          .u-tabs-tab {
            font-weight: normal;
          }
        }
      }
    }
  }

  .u-tabs-content {
    height: 100%;

    .u-tabs-tabpane {
      height: 100%;
    }

    .u-tabs-tabpane .card-tabs {
      margin-top: 0;
    }
  }

  .u-tabs-upborder .u-tabs-bar {
    background: #fff;
  }

}


// 电商通 -物流配送区域 - 双树结构
.u-tabs-tabpane .portal-container>.meta-default-container {
  height: 100%;
  overflow: auto;
}

// 电商通 -portal
.rootTabs > .ant-tabs-bar {
  display: none;
}

.ec_accountStatementList.oms {
  .u-modal .u-modal-body {
    .viewCell.width-percent-100 .input-control {
        .ac-input-locale,.u-input-group,.ant-select,.u-select,.control-text,.u-form-control{
          width: auto !important;
        }
      }
  }
}

// line-tabs 内容区域的 tab-top-right 区域按钮
.line-tabs-menu-container {
  .tab-top-right .btn-toolbar-bottom {
    padding: 0;
  }
}

.line-tabs .u-tabs .u-tabs-content .u-tabs-tabpane {
    // tabs 页签与下面的开单logo单独设置
    .basic-avatar {
      padding-top: 16px;
      .basic-avatar-billing-logo{
        .basic-avatar-right{
          line-height: 17px;
        }
      }
      .yon-row{
          margin-bottom: 8px;
      }
      &.has-error{
          .ant-form-explain{
              top: auto;
              bottom: 2px;
          }
      }
    }
}

// 最大化
.line-tabs-menu-container {
  .tab-top-right .btn-toolbar-bottom {
    padding: 0;
    .btn-maximize {
      padding: 0;
      align-items: center;
      // margin-left: 8px;
      .top-right-toolbar-icon-mixin();
      i {
        margin-left: 0;
      }
    }
  }
}

.line-tabs {
  .line-tabs-menu-container + .u-tabs-top.card-container {
    height: calc(~'100% - 39px');
  }

  .u-tabs-top.card-container {
    margin: 0;
    height: 100%;
  }

  .line-tabs-menu-container {
    .tab-menu {
      margin: 0;
    }
  }
}

.line-tabs .u-tabs-top.card-container {
  // TODO：新增物料模板时，lineTabs 表单页的上边距问题。理想状态：由元数据添加style
  div[id='pc_producttpl|pc_producttpl_page_unit_base'] {
    margin-top: 10px;
  }
}
// 全球化-多页签规范
.line-tabs {
  .line-tabs-menu-container .tab-menu .u-menu-item .linetabs-menuitem{
    min-width: 28px;
    max-width: 250px;
    overflow:hidden;
    word-break: break-word;
    text-overflow:ellipsis;
  }
}

.u-tabs .u-tabs-content .u-tabs-tabpane {
  overflow-y: auto;//fix 全局详情页右侧数据少的情况滚动条的空白占位
}

.line-tabs .tab-top-right {
  margin-right: 20px;
}

.u-tabs-nav .u-tabs-tab:hover {
  color: #505766
}

.u-tabs-ink-bar {
  background-color: #ee2223;
}