@import '../../static/iconfont/iconfont.less';
@import '../../static/antd/anticon.less';

.anticon,
.s-icon
 {
  display: inline-block;
  font-style: normal;
  vertical-align: baseline;
  text-align: center;
  text-transform: none;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.s-icon:before {
  display: block;
  font-family: 'iconfont' !important;
}

.s-icon-zuidahua:before {
  content: "\e7cc";
  color: #999;
  font-size: 16px;
  font-family: "iconfont" !important;
}

.s-icon-canzhao:before {
  content: "\e6fe";
  color: #adb4bc;
  font-size: 16px;
  font-family: "iconfont" !important;
  line-height: 28px;
}

.s-icon-down:before {
  content: '\e633';
  font-family: 'iconfont' !important;
  font-size: 12px;
  transform: scale(.8);
}

.s-icon-canzhao:hover:before {
  color: #505766;
}

.s-icon-close-circle {
  &:before {
    font-family: "uf" !important;
    content: "\e66b" !important;
    color: #adb4bc; // fix: 工厂模型，机台生产状态
  }
}

// 树展开图标
.s-icon-minus-square-o:before {
  content: "\e672" !important;
  font-weight: bold;
}

.s-icon-ellipsis:before {
  content: "\e521" !important;
  font-family: "iconfont" !important;
}

// 下拉框选项勾选态
.u-select-dropdown.u-select-dropdown--multiple .u-select-dropdown-menu-item:after {
  font-family: "uf" !important;
  content: "\e658";
}

// 模态框中穿梭框的向右、向左
.u-modal .crossGroupingModal .u-modal-body .crossbtncount {

  .u-button-icon.icon-right-enabled::before,
  .u-button-icon.icon-right-disabled::before {
    content: "\e61e";
    font-family: 'uf' !important;
  }
}

.u-modal .crossGroupingModal .u-modal-body .crossbtncount {

  .u-button-icon.icon-left-enabled::before,
  .u-button-icon.icon-left-disabled::before {
    content: "\e624";
    font-family: 'uf' !important;
  }
}

// fix: 基础数据，弹框，添加查询条件 分别：x up down
.s-icon-guanbi1:before,
.s-icon-shanchucopy1:before,
.s-icon-shanchucopy2:before {
  font-family: 'iconfont' !important;
}

.wuliu_none .icon-cuowutishi:before {
  font-family: 'iconfont' !important;
  content: "\e671";
}

.anticon-shurukuangshanchu::before {
  content: "\e690";
  font-family: 'iconfont' !important;
}

// 新组件的日期图标暂用iconfont 的
.uf-calendar:before,
i.uf-calendar:before {
  content: "\e661";
  font-family: 'iconfont' !important;
  color: #c3c3c3;
}

.uf-location:before {
  content: "\e78b";
}

.s-icon-zuixiaohua2::before {
  content: "\e80f";
}

.s-icon-star {
  color: #ff0000;
  margin-right: 4px;
  transform: scale(0.75);
  width: 10px;
  &:before {
    content: "\e605";
  }
}

.s-icon-weidongjie:before {
  content: "\e789";
}

.s-icon-up:before {
  content: '\e633';
  transform: rotate(180deg) scale(.8);
}

.s-icon-down-circle:before {
  content: "\e685"!important;
}

.s-icon-up-circle:before {
  content: "\e684"!important;
}

.ant-row .s-icon-star {
  margin-left: -14px;
  vertical-align: -.04em;
  color: #ff0000;
  margin-right: 4px;
  transform: scale(0.75);
  transform-origin: 0 center;
  width: 10px;
}

.s-icon-close:before {
  content: "\e636";
}

.s-icon-ellipsis {
  margin-right: 20px;
  &:before {
    content: "\e521";
  }
}

.s-icon-bangzhu:before{
  content: "\e66a";
  font-size: 16px;
  line-height: 28px;
  color: #ccc;
}

.s-icon-shanchucopy2:before {
  content: "\e676";
}

// 向下
.s-icon-shanchucopy1:before {
  content: "\e66d";
}

// 删除
.s-icon-guanbi1:before {
  content: "\e636";
}

.s-icon-tianjiashuliang:before {
  content: "\e749";
  color: #333;
}

.s-icon-jianshaoshuliang::before {
  content: "\e748";
  color: #333;
}

.s-icon-select-arrow:before {
  content: "\E633";
  color: #98a2ad;
}