

// fix: 采购->转存，编辑记录时，底部的表格区域遮挡
#container .container-browse-mode {
  .ant-row.tab-bottom-txt {
    z-index: 999;
    .viewSetting.viewCell .ant-row {
      min-height: unset;
    }
  }

  .u-tabs-tabpane.u-tabs-tabpane-active {
    .yy-tabs .yy-tabs-content .yy-tabs-pane>div.cooperation-component {
      overflow-y: scroll; // fix: 小图标面板遮挡，精确到div，避免tabs 右侧滚动条空白
    }
  }
}

.viewSetting.viewCell {
  .basic-input-textarea {
    // fix: 材料出库，表单中有textarea 时，外部div 默认比内嵌textarea 高出一定像素
    &>.ant-row>.input-control {
      line-height: 0;
    }
    // fix: 人员档案，组织节点，新增页面，textarea 区域的高度
    .ant-row .input-control textarea {
      height: auto;
    }
    .ant-row .input-control textarea+.u-form-control-suffix{
      top: 0px;
      transform: translateY(0%);
    }
  }

  // fix: 基础数据，物料规格，新增页面，textarea 区域的高度
  &.width-percent-33 .ant-row .control-width textarea {
    height: @base-input-height;
    line-height: @base-input-height - 2;
    padding-top: 0;
    padding-bottom: 0;
    min-height: @base-input-height;
  }

}


// fix: 保存草稿的提示框，表单的标题左边距
.savedraft_modal {

  .ant-row .savedraft_title {
    margin-left: 20px;
    text-align: right;
    padding-right: 15px;
  }

  .ant-row > .draft_name {
    margin-left: 96px;
    color: @error-color;
  }

}

// fix: 采购，条码规则，编辑记录，解析类型下拉框x 图标位置
.edit-input-number {
  .u-select-selection-rendered .u-select-selection-selected-value {
    line-height: @base-input-height;
  }

  .u-select-selection-clear {
    line-height: 0;

    &:before {
      height: 100%;
      width: 100%;
      line-height: 12px;
    }
  }
}

// fix: 库存管理，实盘单，查看审核结果页面的listheadRow
.u-tabs-content .card-tabs.st_storecheckplanhead .listheadRow {
  margin: 0px 20px;
  padding: 0;
}

// fix: ys 风格的下拉框按钮箭头调整
.dropdown-btn-icon .uf.uf-arrow-down {
  // color: gray;
  display: block;
  top: 0;
}

// fix: 生产制造，制造参数，inputNumber 宽度需要减去右侧山下键
.meta-option .viewCell.width-percent-100 .ant-row .u-input-number .u-form-control {
  width: 375px;
}

// fix: 生产制造，物料清单，新增页面的tabs 内容上边距
div[id='ed_bom|ed_bom_tab_product'] {
  margin-top: 30px;
}

// TINPER-1875 物料档案，新增，业务信息
div[id='pc_product|time!RelativeDate'] {
  width: 50% !important;
}



// fix: 物料需求，时界编辑弹框input 宽度
.control-flex>span.input-after {
  width: auto;
  margin-left: 10px;
  line-height: 28px;
}

// fix: 物料计划，预测单，编辑页面，底部按钮没有svg 图标
.btn-group-bottom button[id^='mr_internal_demand|'],
.btn-group-bottom button[id^='mr_plan_run|'],
.btn-group-bottom button[id^='mr_plan_workbench|'],
.btn-group-bottom button[id^='mr_plan_workbench_batch|'],
.btn-group-bottom button[id^='mr_sales_forecast|'] {
  svg {
    display: none;
  }
}

// fix: 物料需求计划，计划工作台，子表的tabs 和表头 间距
div[id='mr_plan_workbench_list|list_data_body_page_base'] .tab-list.u-tabs-upborder .u-tabs-bar {
  margin-bottom: 0;
}

div[id='mr_plan_workbench_list|others_data_param'] .container-browse-mode.container-greater-height {
  padding-top: 16px;
}

// fix: 调入，单据日期文字按钮垂直居中
.filter-controls .basic-predicate-data-picker .ant-row>.input-control .ant-row {
  display: flex;
  align-items: center;
}

// fix: 角色权限，新增，rolePage 高度获取
.roleControl {
  overflow: scroll;

  .role-container .auth-control-container .u-tree .u-tree-checkbox+.u-tree-node-content-wrapper span {
    line-height: 1em;
    height: 1em;
    font-size: 12px;
    color: #666;
    padding: 0;
  }
  .u-tree .u-tree-checkbox {
    height: 14px;
    width: 14px;

    .u-tree-checkbox-inner {
      height: 14px;
      width: 14px;
    }
  }
}

// fix: 基础服务，授权，按钮hover
.authority-page .role-tabs .add-btn-container .u-button {
  background: @primary-color;

  &:hover {
    color: #fff;
    background: @primary-color-hover;
  }
}

// fix: 采购，disable 的input 框不要有hover 边框效果
.u-input-number-out .u-input-number.disabled-con:hover {
  border: 1px solid #d9d9d9;
}

// fix: 图片上传 hover 样式不对
.avatar-uploader {
  border: none;
  border-radius: 3px;
}

// fix: 多语弹框form 表单样式
.u-modal .ac-input-locale-modal .edit-panel .u-form-item {
  &>div {
    .u-form-item-label {
      width: 120px;
      line-height: @base-input-height;
      vertical-align: top;

      .u-label {
        width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }

  .error {
    padding-left: 0;
  }
}

// fix: 自定义过滤条件，新增过滤项，textarea 高度不对
textarea.u-form-control {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
  line-height: 17px;
}

// fix: 级联树下拉select
.uf-gridcaretarrowup:before,
.uf-treearrow-down:before {
  transform: scale(.8);
  display: inline-block;
  color: rgb(152, 162, 173);
  font-size: 12px;
}

// fix: 采购库存，新增仓库档案
.viewCell.width-percent-100 .input-control {
  .u-select {
    vertical-align: top;
  }
  textarea{
    margin-top: 2px;
  }
}

.u-modal .u-modal-body {
  .viewCell.width-percent-100 .input-control {
      .ac-input-locale,.u-input-group,.ant-select,.u-select,.control-text,.u-form-control{
        width: 360px !important;
        max-width: 100%;
      }
      //数字u-input-number-out
      .u-input-number-out{
        .u-input-number {
          .u-form-control{
            width: 100% !important;
          }
        } 
      }
  }
}

.container-edit-mode.container-greater-height {
  .meta-default-container {
    background-color: #fff;
  }
}

// params.less
.org-ref{
  margin-top:20px
}

#org_center_card\|functypes{
  .col-float.label-control{
      text-align: left;
      padding-left: 0;
      max-width: 63px;
      min-width: 63px;
      margin-right: 0;
  }
  .col-float.input-control{
      min-width: 138px;
  }
}

.u-popover-content .listRefer .listRefer-content {
  margin: 0 0px 0px 10px;
  overflow-y: auto;
  label.u-checkbox {
    display: block;
    margin-top: 4px;
    &:last-child {
      margin-bottom: 6px;
    }
  }
}

// 物料表格中，图文居中
.textCol.upc-showpicture-container {
  display: flex !important;
  align-items: center;
}


.u-modal-dialog .u-modal-body .viewCell.width-percent-100 .ant-row {
  float: unset;
}

// 基础档案 使用组织
.u-popover-content .listRefer {
  .listRefer-list {
    max-height: 210px;
    overflow-y: auto;
    overflow-x: hidden;
    margin:0 0 6px 0;
    .u-checkbox {
      display: block;
      height: @base-input-height;
      line-height: @base-input-height;
      margin: 0;
      padding: 0px 10px;
      &:hover{
        background: #f7f9fd;
      }
      .u-checkbox-label{
        i.out{
          font-style: normal;
          i.high-light{
            color: @high-light-color;
            font-style: normal;
          };
        }
        width: 100%;
        position: relative;
        span{
          position: absolute;
          right: -6px;
          line-height: 28px;
          z-index: 4;
          padding: 0 10px;
          height: 28px;
          top: -7px;

          .table-list-btn{
            color: #666;
          }
          &:hover{
            .table-list-btn{
              color: #588ce9;
            }
          }

        }
      }

    }
  }
  .no-data {
    padding-top: 10px;
  }
  .filter-btn-1 {
    .popover-filter-bottom-mixin();
    .multiple-toolbar-wrapper{
      float: left;
      .table-list-toolbar{
        svg{
            width: 16px;
            height: 16px;
            vertical-align: sub;
            margin-right: 4px;
        }
        .table-list-btn{
            color: #588ce9;
        }
        &:hover{
          .table-list-btn{
              color: #ee2223;
          }
        }
      }

    }

  }
}
//treerefer多选-底部
.uretail-pop .u-popover-content .filter-btn-1{
  .popover-filter-bottom-mixin();

  .check-all-container {
    float: left;

    .u-checkbox.u-checkbox-primary {
      margin-right: 0;
      margin-top: 6px;
    }
  }
  .multiple-toolbar-wrapper{
    float: left;
    svg{
      width: 16px;
      height: 16px;
      vertical-align: sub;
      margin-right: 4px;
    }
    .table-list-btn{
      color: #588ce9;
    }
    &:hover{
      .table-list-btn{
        color: #ee2223;
      }
    }
  }
}
//treerefer多选-树
.list-with-gridToolbar.u-tree{
  overflow-x: hidden;
  li{
    .u-tree-checkbox + a.u-tree-node-content-wrapper{
      width: calc(~'100% - 38px');
      .u-tree-title{
        // width: 100%;
        li{
          max-width: 400px;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding: 0;
          padding-left: 8px;
        }
        .table-list-btn{
          background: #edf1f7;
        }
        &:hover{
          .table-list-btn{
            background: #edf1f7;
          }
        }
      }
    }
    ul.u-tree-child-tree{
      .u-tree-checkbox + a.u-tree-node-content-wrapper{
        width: calc(~'100% - 33px');
      }
      .u-tree-title{
        li{
          max-width: 370px!important;
          display: block;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
    }
  }
  li.u-tree-treenode-selected{
    .u-tree-checkbox + a.u-tree-node-content-wrapper{
      .u-tree-title{
        .table-list-btn{
          background: #fdf2dc;
          &:hover{
            background: #fdf2dc;
          }
        }
        &:hover{
          .table-list-btn{
            background: #fdf2dc;
          }
        }
      }

    }
    ul.u-tree-child-tree{
      .u-tree-checkbox + a.u-tree-node-content-wrapper{
        .u-tree-title{
          &:hover{
            .table-list-btn{
              background: #edf1f7;
            }
          }
        }

      }
    }
  }
}
// listtag 参照样式-基础档案 -- UE：gaoqiang
.u-popover-content .listRefer .listRefer-content {
  .u-checkbox {
    height: 24px;
    line-height: 24px;
    .u-checkbox-label {
      height: 24px;
      line-height: 24px;
      padding-left: 20px;
      &::before, &::after {
        top: 4px;
      }
    }
  }
  .listRefer-checkbox-content {
    display: inline-block;
    height: 24px;
    line-height: 24px;
    padding: 0 8px;
    border-radius: 12px;
    i.out{
      font-style: normal;
      i.high-light{
        color: @high-light-color;
        font-style: normal;
      };
    }
  }
  .u-checkbox:hover .listRefer-checkbox-content {
    background-color: #EDF1F7;
  }
  .u-checkbox input[type=checkbox]:focus + .u-checkbox-label {
    &::before {
      border-color: @input-border-color;
    }
    .listRefer-checkbox-content {
      background-color: #EDF1F7;
    }
  }
}

// 债务转移下拉框错误显示
.has-error .u-select .u-select-selection,
.has-error .u-input-number.u-input-group{
  border-color: #f44336;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-error .u-form-control {
  border-color: #f44336!important;
  &:hover {
    border-color: #f44336!important;
  }
}

.u-tabs-top .u-tabs-content {
  font-size: 12px!important;
}

.viewCell.width-percent-33 .control-radio .input-control.control-width {
  min-height: @base-input-height;
}

.viewCell.width-percent-33 .has-related {
  div[id='pc_product|weightUnit_Name'],
  div[id='pc_product|volumeUnit_Name'] {
    margin-left: 10px;
  }
}

.u-input-number.u-input-number-focused {
  border-color: #505766;
}
// 参照控件右侧间距
.ant-search-input-wrapper .u-input-group.simple .u-form-control:not(:last-child){padding-right:45px}

.u-form-control-affix-wrappe {
  display: block;
}
.ec_shoplist .u-form-control-affix-wrapper {
  display: block;
  overflow: hidden;
}


.container-browse-mode .listheadRow {
  padding-bottom: 0;
}

.u-select-selection--multiple .u-select-selection-rendered>ul>li {
  margin-bottom: 2px;
}

.rc-calendar-footer-show-ok {
  .rc-calendar-footer-btn {
    .rc-calendar-btn-ok {
      height: 26px;
      min-width: unset;
    }
  }
  .rc-calendar-time-picker-btn {
    padding: 0 10px;
  }
}

div[id='pc_product|time!durationDate'] {
  position: unset;
  flex: 1;
}

div[id='aa_merchantlist|lookat'],
div[id='pc_attachmentgrouplist|lookat1'] {
  .select-combox-uneditable-mixin()
}

.aa_merchant.u-modal {
  .u-modal-body {
    .u-tabs-tabpane-active {
      .tab-top-right-operater-mixin();
    }
  }
}

// 参照关闭按钮微调，使垂直居中
.viewSetting.viewCell {
  .refer-div {
    .input-control {
      .yonicon-close-circle {
        transform: translateY(-1px);
      }
    }
  }
}
.u-input-number.u-input-group.simple .u-input-group-btn .icon-group .uf {
  line-height: 14px;
}


.u-select-selection--multiple .u-select-selection-rendered {
  margin-right: 45px;
}
.ap_adjustpricelist,
.aa_billTemplatelist {
  .u-tabs-tabpane .list-top-toolbar .list-header-right-toolbar .btn-toolbar-bottom .col-auto .u-button.no-border-radius:nth-last-child(2) {
    min-width: 60px;
    padding: 0 12px;
  }
}

.aa_billTemplatelist {
  .list-top-toolbar {
    padding-bottom: 0;
  }
  //TINPER-2729
  .container-edit-mode.container-greater-height .meta-default-container{
    padding-top: 0;
    .ant-row.meta-title{
      margin-top: 0;
    }
  }
  .container-browse-mode .list-top-toolbar + .group-container .ant-row.meta-title{
    margin-top: 0;
    h1{
      margin-top: 0;
    }
  }
}

.ap_adjustpricelist {
  .list-top-toolbar {
    padding-bottom: 0;
  }
}

// bugfix TINPER-2541
.group-container .listheadRow{
  padding-top: 0;
  min-height: 30px;
}
// bugfix TINPER-2490
.aa_posdevicesettinglist .u-radio-group .radio-svg-btn{
  margin-bottom: 15px;
  .radio-icon{//TINPER-2658
    margin-bottom: 8px;
  }
  .u-radio{
    display: flex;
    justify-content: center;
  }
}
//TINPER-2496
.aa_touchsettinglist .list-top-toolbar{
  padding-bottom: 0;
}

.mm_memberrulelist .list-top-toolbar {
  margin-bottom: 0;
}

.u-select-search--inline .showTitle{
  z-index: -1 !important;
}
//TINPER-2564
.tree-refer-radio.u-tree li a.u-tree-node-content-wrapper .u-tree-title li{
  padding: 0;
  margin-left: 0;
}

.u-select-search .u-select-search--inline .showTitle{
  z-index: -1;
}

// 收款方式新增tab 页上边距
div[id='aa_paymentmethod|code'] {
  margin-top: 16px;
}

// 税票匹配
.pu_taxticketmatch {
  .u-tabs .u-tabs-content {
    padding-bottom: 50px;
  }
}

// 友零售，库存工作台
.st_workbench {
  .split_container {
    .split_right {
      padding-bottom: 50px;
      overflow-y: auto;
      .voucher-list {
        padding-bottom: 0;
      }
    }
  }
}

// 资产类别左树
.ampub_category_tree {
  .split_container .split_left .left-container>.meta-default-container {
    height: 100%;
    &>.bg-white.border-r {
      height: 100%;
    }
  }
}

.ant-row.meta-title {
  margin-top: 16px;
}

.btn-toolbar-bottom .basic-input-text {
  input[disabled] + span.u-input-group-btn {
    cursor: no-drop;
  }
}

.sys_option .u-tabs .u-tabs-content {
  padding-top: 16px;
}

.st_storecheckrealitylist {
  .page-top-16-mixin();
}

//TINPER-2673
.aa_storelist .card-tabs .u-tabs .u-tabs-content{
  padding-top: 16px;
}
//TINPER-2730
.aa_storelist .u-tabs.card-container .u-tabs-content{
  padding-top: 0;
}

//TINPER-2698
.aa_gradelist .height-100 .meta-default-container .list-top-toolbar{
  margin-bottom: 0;
}
//TINPER-2699
.aa_electroinvoicelist .has-related .viewSetting .u-button{
  margin-left: 8px;
  margin-top: 2px;
}
//TINPER-2639
.readOnlyTable .fixedDataTableLayout_footer .fixedDataTableCellLayout_main{
  border-bottom: none;
}
//TINPER-2650
.ec_passauditlist .u-tabs-content .container-edit-mode .ant-row.card-tabs{
  margin-top: 9px;
}
.ec_passauditlist {
  .u-tabs .u-tabs-content{
    padding-top: 16px;
  }
  .line-tabs {
    .u-tabs .u-tabs-content{
      padding-top: 0;
    }
  }
  .u-tabs.meta-container > .u-tabs-content{
    padding-top: 0;
  }
}
//TINPER-2708
.pc_taglist div[id='pc_tag|basegroup']{
  div.viewSetting[id='pc_tag|tag_bgcolor'] .input-control{
    width: 20px!important;
  }
  div.viewSetting[id='pc_tag|tag_fgcolor'] .input-control{
    width: 20px!important;
  }
}

//TINPER-2737
.st_standingbook .RptTableContainer_Row1{
  height: 100%;
  .RptTableContainer_Row2{
    height: 100%;
  }
}
//TINPER-2672
.es_suitgoodslist .group-container .ant-row + .group-buttons .group-container .btn-toolbar-bottom{
  margin-bottom: 12px;
  button[id='ec_suitgoods|btnAddRow'] .icon.icon-plus{
    display: none;
  }
}

.u-select-show-search.u-select-nowarp .u-select-selection--multiple .u-select-selection-rendered ul{
  overflow: unset;
}

// 库存参数
div[id^='business_option'] {
  .input-control {
    max-width: 400px;
  }
}
//店铺档案授权信息宽度400 TINPER-2762
.ec_shoplist{
  div[id='ec_shop|group_2'] .width-400{
    .viewCell.width-percent-100 .ant-input, .viewCell.width-percent-100 .ant-select, .viewCell.width-percent-100 .input-control{
      width: 400px!important;
    }
    div[id='ec_shop|token'] .has-related {
      .viewCell .control-text{
        max-width: 154px;
        .text-wrapper{
          width: 100%;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }
      .viewSetting.viewCell .u-button{
        max-width: 82px;
        margin-left: 0!important;
      }
    }
  }
}

//TINPER-2750，TINPER-2751
.bd_payagreementlist {
  .bd_payagreement(100);
  .bd_payagreement(@n,@i:1) when (@i =< @n){
    .width-percent-33:nth-of-type(@{i}){
      .promotion-group-list{
        z-index: 100 - @i;
      }
    }
    .bd_payagreement(@n,(@i+1));
  }
  .ant-row-flex.ant-row-flex-start.bottom-toolbar{
    z-index: 101;
  }
  .bd_payagreement .u-select-dropdown .u-select-dropdown-menu{
    max-height: 120px;
  }
}

.bd_receiveagreementlist {
  .bd_receiveagreement(100);
  .bd_receiveagreement(@n,@i:1) when (@i =< @n){
    .width-percent-33:nth-of-type(@{i}){
      .promotion-group-list{
        z-index: 100 - @i;
      }
    }
    .bd_receiveagreement(@n,(@i+1));
  }
  .ant-row-flex.ant-row-flex-start.bottom-toolbar{
    z-index: 101;
  }
  .bd_receiveagreement .u-select-dropdown .u-select-dropdown-menu{
    max-height: 120px;
  }
}

.sys_option,
.ca_business_option,
.po_option,
.aa_vendorclassificationlist,
.pu_business_option {
  .viewCell.width-percent-100 .input-control{
    max-width: 400px;
  }
}
//TINPER-2775
.ec_expressCoFeeTree{
  .form-base.Manual-calculation{
    width: auto;
    .container-browse-mode .meta-table.listTable.readOnlyTable{
      overflow: hidden;
    }
  }
}

.ranklist,
.timeaxis_list {
  height: 100%;
}

// 部门节点，内容区域上边距
.bd_admindepttree {
  padding-top: 0px!important;
  .jDiwork-container>.ant-row.meta-default-container{
      padding-bottom: 0px;
  }
}

div[id="pc_product|productTemplate_NameTips"] {
  right: -20px;
  position: absolute;
  width: 16px!important;
}

div[id$="|tips"] {
  right: -20px;
  left: unset !important;
  position: absolute;
  width: 16px!important;
  flex: unset;
}

// TINPER-4333 arap_ar_verifyrule
.arap_ar_verifyrule{
  .group-buttons .meta-checkbox-container{
    padding-left: 0;
  }
  .meta-checkbox-container .input-control > div{
    width: auto;
  }
} 
.ar-writeoffrule-param-wrap{
  .group-buttons .meta-checkbox-container{
    padding-left: 0;
  }
  .meta-checkbox-container .input-control > div{
    width: auto;
  }
}

.ant-spin-nested-loading {
  position: relative;
  height: 100%;
}

.query-criteria-select .ant-checkbox-group {
  max-height: 320px;
  height: auto;
  overflow-y: auto;
  padding-left: 0;

  &>div {
    height: 32px;
    line-height: 32px;
    padding-left: 10px;
  }
}

div[id="pc_spepro"],
div[id="pc_productorderpro"],
div[id="pc_productskupro"],
div[id="pc_productbrandpro"] {
  // 这里规范化，需要meta 去掉对应节点的类名，这里先适配修复下
  .container-edit-mode .tab-bottom-txt {
    display: block;
  }
}

// div[id="st_transferapplylist"],
// div[id="st_morphologyconversionlist"],
// div[id="st_transferreqlist"] {
//   min-width: 1200px;
// }

//TINPER-5221
.st_wareandinv_ware.u-modal{
  button[id='st_wareandinv_ware|btnAddRow']{
    margin-right: 20px;
  }
}
//TINPER-5224
.aa_vendor.u-modal{
  button[id='aa_vendor|btnSaveAndAdd']{
    margin-left: 8px !important;
  }
}


.meta-table .columnSetting .SettingBtn.u-button {
  text-align: left;
  &:hover {
    background-color: #f7f9fd;
  }
}


.Manual-calculation-left .meta-default-container {
  height: auto;
}

.container-edit-mode.container-greater-height {
  height: 100%;
}

.crossArea .fr {
  width: auto;
  min-width: 266px;

  .crossArea-list-content {
    padding-top: 15px;
    padding-right: 30px;
  }
}

.viewSetting.viewCell {
.ant-row{
  line-height: @base-input-height;
  min-height: @base-input-height + 4;//兼容多语的title两行正常显示
}
}

i.anticon:before {
  display: block;
}

.st_purinrecordlist_pull_redx_grid,
.st_purinrecordlist_pullx_grid {
  padding-bottom: 50px;
}

a.btn-gray {
  color: #333;
}

.anchor-item a {
  color: #333;
}

.jDiwork-container {
  .bottom-toolbar .u-button:last-child:not(.u-button-primary):hover {
    background: #e5e9ec !important;
  }
}

div[id='st_storeinlist'],
div[id='st_storeoutlist'] {
  .u-tabs-tabpane-active {
    padding-bottom: 64px;
  }
}

div[id='aa_vendor|aa_vendor_page_base'] {
  .jDiwork-container {
    & > .group-container {
      padding-bottom: 60px;
    }
  }
}

// 工作台样式冲突
#yxyweb-support-container {
  .u-select-selection--single {
    height: 28px;
  }
  .u-select-selection-rendered {
    line-height: 26px;
  }
}

.staffcenter {
  .u-modal {
    .u-modal-body {
      .viewCell.width-percent-100 {
        .control-width {
          width: 360px !important;
        }
      }
    }

    .u-modal-footer .u-button:not(.u-button-primary) {
      margin-right: 0;
    }
  }
}

@media screen and (max-width: 600px) {
  // 自适应单列
  .viewCell.width-percent-100 {
    .control-width {
      .u-input-group,
      .ac-input-locale,
      .u-select,
      .u-form-control {
        width: initial !important;
      }
      .ac-input-locale .input-text {
        padding-right: 45px;
      }
    }
    .input-control .u-input-group input {
      padding-right: 45px;
    }
  }
}

.bd_virtualaccbodylist {
  .tree-list .height-100 > .ant-row.meta-default-container {
    overflow: auto;
  }
}

