.listheadRow .filter-hide .ant-row.foreign-lang {
    display: block;
    min-height: 46px;
    padding-left: 80px;
  }
  
  .listheadRow .filter-hide .ant-row.foreign-lang .label-control {
    padding: 0 0 2px;
    text-align: left;
    width: 100% !important;
    .ellipsis();
  }
  
  