.no-iframe {
    .ant-modal-mask.uretail-loading-bg {
        position: absolute;
    }
}

.no-iframe {
    .jDiwork-container .line-tabs-maximize {
        height: calc(~"100% - 80px");
        top: 80px;
        width: calc(~"100% - 16px"); // 16px 是容器padding 边距效果
    }
}

.no-iframe {
    .bottom-toolbar {
        bottom: 8px; // 减去工作台的底部8px 间距
    }

    .u-modal-body .bottom-toolbar {
        bottom: 0;
    }

    .btn-group-bottom.bottom-toolbar {
        width: auto !important;
        bottom: 0;
        right: 8px;
        left: 61px;
        margin: 0;
    }
    .u-modal .btn-group-bottom.bottom-toolbar{
        left: 0;
        margin-left: 0;
        width: 100%!important;
    }
    .um-win.fixed{
        .btn-group-bottom.bottom-toolbar{
            left: 193px;
        }
    }
}

//无iframe
.no-iframe .referModal.refer-modal-maximize {
    height: unset;
    width: unset;
    top: 83px;
    bottom: 8px;
    left: 8px;
    right: 8px;
    margin: 0;
}
